.navigation_bar{
    padding-top: 20px;
    background-color: #212F3C;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}
body{
  font-family: 'Open Sans', sans-serif;
    margin: 0%;
    padding: 0;
    /* background-image: url('./images/gip.gif'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #D6DBDF ;
    background-position: 10% 10%;
}

.navlogo{
    padding: 0px;
    margin: 0px;
    width: 50px;
    float: left;
    margin-left: 3px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.navimg{
    padding: 0px;
    margin: 0px;
    width: 150px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.head{
    color: #212F3C;
    font-weight: 800;
    text-align: right;
    font-size: 60px;
    padding-right: 7%;
}
/*trying for buttons*/
.button1{
  position: absolute;
  top: 56%;
  left: 73%;
  transform: translate(-50%, -50%);
}
.button1{
  background: #E32A46;
  color: #ccc;
  width: 150px;
  height: 45px;
  border: 1px solid #ccc;
  font-size: 18px;
  border-radius: 20px;
  transition: .6s;
  overflow: hidden;
}
.button1:focus{
  outline: none;;
}

.button1::before{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translate(-130px) skew(-15deg);
}
.button1:after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translate(-100px) skew(-15deg);
}
.button1:hover{
  background: black;
  box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.button1:hover::before{
  transform: translate(300px) skew(-15deg);
  opacity: .6;
  transition: .7s;
}
.button1:hover::after{
  transform: translate(300px) skew(-15deg);
  opacity: 1;
  transition: .7s;
}
.button2{
  position: absolute;
  top: 77%;
  left: 73%;
  transform: translate(-50%, -50%);
}
.button2{
  background: #212F3C;
  color: #ccc;
  width: 150px;
  height: 45px;
  border: 1px solid #ccc;
  font-size: 18px;
  border-radius: 20px;
  transition: .6s;
  overflow: hidden;
}
.button2:focus{
  outline: none;;
}

.button2::before{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translate(-130px) skew(-15deg);
}
.button2:after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0.5s;
  filter: blur(30px);
  transform: translate(-100px) skew(-15deg);
}
.button2:hover{
  background: #00FCB3;
  color: black;
  box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.button2:hover::before{
  transform: translate(300px) skew(-15deg);
  opacity: .6;
  transition: .7s;
}
.button2:hover::after{
  transform: translate(300px) skew(-15deg);
  opacity: 1;
  transition: .7s;
}
#logintext{
  color: #212F3C;
  font-weight: 400;
  text-align: right;
  font-size: 20px;
  padding-right: 19%;
}
#invitetext{
  padding-top: 6%;
  color: #212F3C;
  font-weight: 400;
  text-align: right;
  font-size: 20px;
  padding-right: 17%;
}

/* Responsive */

@media screen and (max-width:500px){
.navigation_bar{
  padding-top: 20px;
  background-color: #212F3C;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}
body{
font-family: 'Open Sans', sans-serif;
  margin: 0%;
  padding: 0;
  background-image: url('./images/gip.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #D6DBDF ;
  background-position: top;
}

.navlogo{
  padding: 0px;
  margin: 0px;
  width: 50px;
  float: left;
  margin-left: 3px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.navimg{
  padding: 0px;
  margin: 0px;
  width: 150px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.head{
  padding-top: 70%;
  color: #212F3C;
  font-weight: 800;
  text-align: center;
  font-size: 35px;
  padding-right: 8%;
}
/*trying for buttons*/
.button1{
position: absolute;
top: 77%;
left: 50%;
transform: translate(-50%, -50%);
}
.button1{
background: #E32A46;
color: #ccc;
width: 150px;
height: 45px;
border: 1px solid #ccc;
font-size: 18px;
border-radius: 20px;
transition: .6s;
overflow: hidden;
}
.button1:focus{
outline: none;;
}

.button1::before{
content: '';
display: block;
position: absolute;
background: rgba(255,255,255);
width: 60px;
height: 100%;
left: 0;
top: 0;
opacity: 0.5s;
filter: blur(30px);
transform: translate(-130px) skew(-15deg);
}
.button1:after{
content: '';
display: block;
position: absolute;
background: rgba(255,255,255);
width: 30px;
height: 100%;
left: 30px;
top: 0;
opacity: 0.5s;
filter: blur(30px);
transform: translate(-100px) skew(-15deg);
}
.button1:hover{
background: black;
box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
cursor: pointer;
}
.button1:hover::before{
transform: translate(300px) skew(-15deg);
opacity: .6;
transition: .7s;
}
.button1:hover::after{
transform: translate(300px) skew(-15deg);
opacity: 1;
transition: .7s;
}
.button2{
position: absolute;
top: 91.5%;
left: 50%;
transform: translate(-50%, -50%);
}
.button2{
background: #212F3C;
color: #ccc;
width: 150px;
height: 45px;
border: 1px solid #ccc;
font-size: 18px;
border-radius: 20px;
transition: .6s;
overflow: hidden;
}
.button2:focus{
outline: none;;
}

.button2::before{
content: '';
display: block;
position: absolute;
background: rgba(255,255,255);
width: 60px;
height: 100%;
left: 0;
top: 0;
opacity: 0.5s;
filter: blur(30px);
transform: translate(-130px) skew(-15deg);
}
.button2:after{
content: '';
display: block;
position: absolute;
background: rgba(255,255,255);
width: 30px;
height: 100%;
left: 30px;
top: 0;
opacity: 0.5s;
filter: blur(30px);
transform: translate(-100px) skew(-15deg);
}
.button2:hover{
background: #00FCB3;
color: black;
box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
cursor: pointer;
}
.button2:hover::before{
transform: translate(300px) skew(-15deg);
opacity: .6;
transition: .7s;
}
.button2:hover::after{
transform: translate(300px) skew(-15deg);
opacity: 1;
transition: .7s;
}
#logintext{
color: #212F3C;
font-weight: 400;
text-align: center;
font-size: 20px;
padding-right: 19%;
margin-left: 20%;
}
#invitetext{
margin-left: 15%;
padding-top: 15%;
color: #212F3C;
font-weight: 400;
text-align: center;
font-size: 20px;
padding-right: 17%;
}
}
